@use "../../styles/simpifiers/mixins.scss" as *;
@use "../../styles/simpifiers/vars.scss" as *;

.bonusPage {
    @include basic-background($basicBackgroundColor);
    
}

.bonus-input {
    color: #000;
    font-size: 22px;
    outline: none;
    padding: 5px;
    margin: 25px 0px 30px 0px;
    border: 1px solid black;
}


.bonus-button {
    background-color: $basicElementBackColor;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    min-width: 100px;
}

.congratulations {
    text-align: center;
    font-size: 34px;
    margin-top: 40px;
}