@use '../../styles/simpifiers/vars.scss' as *;
@use '../../styles/simpifiers/mixins.scss' as *;
.back-button {
    @include flex(center, center);
    background-color: $basicElementBackColor;
    border-radius: 10px;
    color: #fff;
    gap: 5px;
    padding: 5px 10px;
    text-decoration: none;
    align-self: start;
    font-size: 20px;
}