@use "../styles/simpifiers/vars.scss" as *;
@use "../styles/simpifiers/mixins.scss" as *;
.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: #000;
    @include flex(center, center);
}

.container {
    @include flex(center, center);
    width: 100%;
    height: 100%;
    padding: 10px;
   
}
